<section class="loginform clearfix">
  <%= form_tag sessions_path do %>

    <%= alert %>

    <ul>
      <li>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], :placeholder => "yourname@email.com", :required => true, :tabindex => 1 %>
      </li>

      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :placeholder => "password", :required => true, :tabindex => 2 %>
      </li>

      <li>
        <%= submit_tag "Log in", :class => "btn", :tabindex => 3 %>
      </li>
    </ul>

  <% end %>
</section>