<div id="container">

  <nav class="breadcrumb">
    <h3 class="article-title">
      <%= link_to "All Articles", posts_path %>
      <%= content_tag('i', nil, class: "icon-arrow-right") + content_tag('span', params[:name]) unless params[:name].blank? %>
      <a href="#" class="action">Category<i class="icon-arrow-right"></i></a>
    </h3>
  </nav>

  <% @posts.each do |post| %>
    <article class="<%= cycle("even", "odd") -%>">

      <h2 class="title">
        <%= link_to post.title, post %>
        <span class="date"><%= post.created_at.strftime("%Y.%m.%d") %></span>
      </h2>

      <div class="meta">
        <%= link_to "Comments", {:controller => "posts", :action => 'show', :id => post.id, :anchor => 'disqus_thread'}, 'data-disqus-identifier' => "miclle-post-#{post.id}" %>
      </div>

      <div class="text">
        <%= raw post.content_html %>
      </div>

      <div class="meta">
        <% unless post.category_list.blank? %>
        <span class="category">
          Category:
          <% post.category_list.each do |category| %>
            <%= link_to category, {:controller => :posts, :action => :category, :name => category } %>
          <% end %>
        </span>
        <% end %>

        <% unless post.tag_list.blank? %>
        <span class="tags">
          Tags:
          <% post.tag_list.each do |tag| %>
            <%= link_to tag, {:controller => :posts, :action => :tag, :name => tag } %>
          <% end %>
        </span>
        <% end %>
      </div>

    </article>
  <% end  %>

  <div class="pagging-holder">
    <%= paginate @posts %>
  </div>

  <div class="model">
    <h2>TAGS</h2>
    <div class="content tags">
      <% tag_cloud(Post.tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, {:controller => :posts, :action => :tag, :name => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>

  <div class="model">
    <h2>CATEGORIES</h2>
    <div class="content tags">
      <% Post.category_counts.each do |category| %>
        <li>
          <%= link_to category.name, {:controller => :posts, :action => :category, :name => category.name }, :class=>"active" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'miclle'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>