<!-- Content -->
<div id="content">

  <% @posts.each do |post| %>

    <!-- Post -->
    <div class="post <%= cycle("even", "odd") -%>">

      <div class="title">
        <h2><%= link_to post.title, post %></h2>
        <span class="date"><%= post.created_at.strftime("%Y.%m.%d") %></span>
      </div>

      <div class="text">
        <%= raw post.content_html %>
      </div>

      <div class="post-meta">

        <!-- <div class="comment">
          <%#= link_to "Comments: #{post.comments_count}", post_path(post, :anchor => "post-comment-anchor"), :class => "comment-it" %>
        </div> -->

        <% unless post.category_list.blank? %>
        <div class="category">
          Category:
          <% post.category_list.each do |category| %>
            <%= link_to category, {:controller => :posts, :action => :category, :name => category }%>
          <% end %>
        </div>
        <% end %>

        <% unless post.tag_list.blank? %>
        <div class="tags">
          Tags:
          <% post.tag_list.each do |tag| %>
            <%= link_to tag, {:controller => :posts, :action => :tag, :name => tag } %>
          <% end %>
        </div>
        <% end %>

      </div>

      <div class="line">&nbsp;</div>
    </div>
    <!-- End Post -->
  <% end  %>

  <!-- Pagging -->
  <div class="blog-pagging blog-pagging-bottom">
    <div class="blog-pagging-holder">
      <%= paginate @posts %>
    </div>
  </div>
  <!-- End Pagging -->

</div>
<!-- End Content -->

<!-- Sidebar -->
<div class="blog-sidebar" id="sidebar">

  <div class="model">
    <h2>CATEGORIES</h2>
    <ul>
      <% Post.category_counts.each do |category| %>
        <li>
          <%= link_to category.name, {:controller => :posts, :action => :category, :name => category.name }, :class=>"active" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="model">
    <h2>TAGS</h2>
    <div class="content tags">
      <% tag_cloud(Post.tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, {:controller => :posts, :action => :tag, :name => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>

  <div class="model">
    <h2>FILCKR</h2>
    <!-- Start of Flickr Badge -->
    <div class="flickr-badge">
      <script type="text/javascript" src="http://www.flickr.com/badge_code.gne?count=8&display=random&size=square&nsid=49394281@N07&raw=1"></script>
    </div>
    <!-- End of Flickr Badge -->

  </div>

</div>
<!-- End Sidebar -->
