<div id="container">

  <% @posts.each do |post| %>
    <article class="<%= cycle("even", "odd") -%>">

      <h2 class="title">
        <%= link_to post.title, post %>
        <span class="date"><%= post.created_at.strftime("%Y.%m.%d") %></span>
      </h2>

      <div class="meta">
        <% unless post.category_list.blank? %>
        <span class="category">
          Category:
          <% post.category_list.each do |category| %>
            <%= link_to category, {:controller => :posts, :action => :category, :name => category } %>
          <% end %>
        </span>
        <% end %>

        <% unless post.tag_list.blank? %>
        <span class="tags">
          Tags:
          <% post.tag_list.each do |tag| %>
            <%= link_to tag, {:controller => :posts, :action => :tag, :name => tag } %>
          <% end %>
        </span>
        <% end %>
      </div>

      <div class="text">
        <%= raw post.content_html %>
      </div>

    </article>
  <% end  %>

  <div class="pagging-holder">
    <%= paginate @posts %>
  </div>

  <div class="model">
    <h2>TAGS</h2>
    <div class="content tags">
      <% tag_cloud(Post.tag_counts, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, {:controller => :posts, :action => :tag, :name => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>

  <div class="model">
    <h2>CATEGORIES</h2>
    <div class="content tags">
      <% Post.category_counts.each do |category| %>
        <li>
          <%= link_to category.name, {:controller => :posts, :action => :category, :name => category.name }, :class=>"active" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>