<%= form_for([:chalet, @post]) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="page-header">
    <div class="form-inline">
    <%= f.text_field :title, :class => "input-xxlarge", :placeholder => "Post title", :require => true %>

    <a href="#post-meta" role="button" class="btn" data-toggle="modal">Meta <i class="icon-arrow-down"></i></a>

    <%= f.submit "Save", class: "btn btn-info" %>

    <%= link_to "Delete", chalet_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" if action_name == "edit" %>
    </div>
  </div>

  <!-- Modal -->
  <div id="post-meta" class="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-body form-horizontal">
      <div class="control-group">
        <%= f.label :tag_list, "Tags", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :tag_list, :placeholder => "Tag..." %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :category_list, "Category", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :category_list, :placeholder => "Category" %>
        </div>
      </div>

    </div>
  </div>

  <div class="content-section" id="markdown-editor">
    <div id="markdown-preview" class="markdown-preview">
      Preview content
    </div>

    <div id="markdown-input">
      <%= f.text_area :content, class: "markdown-input", data: { "markdown-preview" => "#markdown-preview"} %>
    </div>
  </div>

<% end %>
