<%= form_for([:chalet, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="page-header">
    <div class="form-inline">
    <%= f.text_field :title, class: "input-xxlarge", placeholder: "Post title" %>
    <%= f.submit "Save", class: "btn btn-info" %>
    <%= link_to "Delete", chalet_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger pull-right" if action_name == "edit" %>
    </div>
  </div>

  <div class="content-section" id="markdown-editor">

    <div id="markdown-preview" class="markdown-preview">
      Preview content
    </div>

    <div id="markdown-input">
      <%= f.text_area :content, class: "markdown-input", data: { "markdown-preview" => "#markdown-preview"} %>
    </div>

  </div>

<% end %>
