<%= form_for([:chalet, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="header-section">
    <%= f.text_field :title %>
  </div>

  <div class="content-section">

    <div id="wmd-button-bar"></div>

    <div id="markdown-preview">
      <div id="wmd-preview">
        Preview content
      </div>
    </div>

    <div id="markdown">
      <%= f.text_area :content, :class => "markdown-input", :id => "wmd-input" %>
    </div>


  </div>

<% end %>
