<div class="page-header">
  <h3 class="pull-left">Posts</h3>
  <%= link_to "New Post", new_chalet_post_path, class: "btn btn-info pull-right" %>
</div>

<div class="content-section">

  <% @posts.each do |post| %>
    <article class="post-item">
      <h4>
        <%= link_to post.title, edit_chalet_post_path(post) %>
        <small class="date"><%= post.created_at.strftime("%Y.%m.%d") %></small>
      </h4>

      <div class="text"><%= truncate post.content, :length => 150, :separator => '...' %></div>

      <div class="meta">

        <div class="comment">
          Comments: <%=  post.comments_count %>
        </div>

        <div class="category">Category: <%= post.category_list %></div>

        <div class="tags">Tags: <%= post.tag_list %></div>

      </div>
    </article>
  <% end  %>

</div>
