<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>ForestChalet</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= yield :head %>

  </head>
  <body>

    <aside>
      <div id="avatar-area"><a href="/"><%= image_tag gravatar("miclle.zheng@gmail.com", :size => 50) -%></a></div>

      <div class="brand">
        <!-- <a href="http://markdown.miclle.com/" target="_blank"><i class="icon-beaker"></i></a> -->
        <a href="http://github.com/miclle" target="_blank"><i class="icon-github-sign"></i></a>
        <a href="http://twitter.com/miclle" target="_blank"><i class="icon-twitter-sign"></i></a>
      </div>

      <p class="copyright">
        <span>© Miclle.Zheng . Powered by</span> <a href="https://github.com/miclle/forest-chalet" target="_blank" title="Forest Chalet">Forest Chalet</a>
      </p>

      <%= link_to content_tag('i', nil, class: "icon-cog"), login_path, :id => "setting-icon" %>
    </aside>

    <section id="main" data-pjax-container>
      <%= yield %>
    </section>

    <a id="fork-me-on-github" href="https://github.com/miclle" target="_blank"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    <div style="display:none">
      <script type="text/javascript" src="http://js.tongji.linezing.com/1660537/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/1660537/tongji.gif"/></a></noscript>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8236884-5']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
