<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>Admin - Forest-Chalet</title>
    <%= stylesheet_link_tag    "chalet/chalet", :media => "all" %>
    <%= javascript_include_tag "chalet/chalet" %>
  </head>
  <body>

    <section>

      <div id="sidebar">
        <div id="avatar-area">
          <%= link_to image_tag(gravatar(current_user.email, :size => 160)), "http://gravatar.com/", :title => "Change your avatar at Gravatar.com." %>
        </div>

        <ul class="nav nav-list">

          <li class="nav-header">List header</li>

          <li class="<%= 'active' if controller_name == "base" -%>">
            <%= link_to content_tag('i', nil, class: "icon-white icon-home") + " Index", chalet_root_path %>
          </li>

          <li class="<%= 'active' if controller_name == "posts" -%>">
            <%= link_to content_tag('i', nil, class: "icon-white icon-folder-open") + " Post", chalet_posts_path %>
          </li>

          <li class="divider"></li>

          <li>
            <%= link_to content_tag('i', nil, class: "icon-white icon-user") + " Account", "#" %>
          </li>

          <li>
            <%= link_to content_tag('i', nil, class: "icon-white icon-off") + " Logout", logout_path %>
          </li>

        </ul>

      </div>

      <div id="main">
        <%= yield %>
      </div>

    </section>

  </body>
</html>
